:root {
    font-size: 20px;
}

output {
    min-height: 14.5rem;
    padding: 1.25rem;
    padding-bottom: 0;
    display: inline-grid;
    grid-auto-flow: column;
    gap: 1.25rem;
    border-bottom: 0.625rem solid burlywood;
}

.card {
    background-color:antiquewhite;
    border: 1px solid gainsboro;
    min-height: 12.5rem;
    max-width: 3.125rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card p {
    flex: 2;
}

.card input {
    flex: 1;
}

button#new {
    padding: 0.625rem;
}